/* Base button styles */
button {
    border: 0;
    background-color: transparent;
    outline: none;
    font-size: larger;
    color: #333; /* Default text color */
    padding: 4px; /* Adjust padding as needed */
    cursor: pointer; /* Show pointer cursor on hover */
    text-decoration: none; /* Remove underline by default */
}

/* Hover effect only for papertitle inside button */
button:hover .hover-effect {
    color: #5985b5;
    text-decoration: underline; /* Underline text on hover */
}

/* Optional: Add transition for smooth effect */
button {
    transition: background-color 0.3s, color 0.3s, text-decoration 0.3s;
}

/* Remove default link styles */
.custom-link {
    color: inherit; /* Inherit the color from the parent */
    text-decoration: none; /* Remove the underline */
}

/* Apply custom hover styles */
.custom-link:hover {
    color: #5985b5; /* Custom hover color */
    text-decoration: underline; /* Add underline on hover */
}
